<!doctype html>
{% extends 'UserPanel/UserPanel.html' %}
{% block content %}
{% load static %}
<html lang="en">
  <head>
  	<title>Vaccine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'AdminPanel/assets/table/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Appointment Status</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>S No.</th>
						      <th>Hospital</th>
						      <th>Date</th>
						      <th>Start Time</th>
						      <th>End Time</th>
						      <th>Status</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for i in appointmentview %}
						    <tr>
						      <th>{{forloop.counter}}</th>
						      <td>{{i.Schedule.Hospital}}</td>
						      <td>{{i.Schedule.Date}}</td>
						      <td>{{i.Schedule.Start_Time}}</td>
						      <td>{{i.Schedule.End_Time}}</td>

							  <td>{% if i.Status == 0 %}
								  <a href="#" class="btn btn-outline-warning btn-sm">Appointment Pending</a></td>
								{% elif i.Status == 1 %}
								  <a href="#" class="btn btn-outline-success btn-sm">Confirm</a></td>
								{% elif i.Status == 2 %}
								  <a href="#" class="btn btn-outline-danger btn-sm">Reject</a></td>
								{% endif %}
							</tr>
						  {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'AdminPanel/assets/table/js/jquery.min.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/popper.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/main.js' %}"></script>

	</body>
{% endblock %}
</html>

