<!DOCTYPE html>
{% extends 'UserPanel/UserPanel.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in reportview %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card my-4 p-3 mb-2 bg-light text-dark">
                <div class="card-header p-3 mb-2 bg-light text-dark">
                  <strong>Report Card</strong>
                </div>
        <div class="card text">
        <div class="card-body">
        <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      Patient Name
                    </div>
                    <div class="col-md-auto">
                      :
                    </div>
                    <div class="col col-lg-3">
                      {{i.Patient.Child_Name}}
                    </div>
            </div>

            <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      Patient Age
                    </div>
                    <div class="col-md-auto">
                      :
                    </div>
                    <div class="col col-lg-3">
                      {{i.Patient.Child_Age}}
                    </div>
            </div>
            <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      Address
                    </div>
                    <div class="col-md-auto">
                      :
                    </div>
                    <div class="col col-lg-3">
                      {{i.Patient.Address}}
                    </div>
            </div>
            <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      Vaccine
                    </div>
                    <div class="col-md-auto">
                      :
                    </div>
                    <div class="col col-lg-3">
                      {{i.Vaccine.Vaccine_Name}}
                    </div>
            </div>

            </div>
        </div>
        </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</body>
{% endblock %}
</html>