<!doctype html>
{% extends 'NursePanel/NursePanel.html' %}
{% block content %}
{% load static %}
<html lang="en">
  <head>
  	<title>User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'AdminPanel/assets/table/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Users</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>S No.</th>
						      <th>Name</th>
						      <th>Contact No</th>
						      <th>Address</th>
						      <th>Child Name</th>
						      <th>Child Age</th>
						      <th>Child Gender</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for i in user %}

						    <tr>
						      <th>{{forloop.counter}}</th>
						      <td>{{i.Name}}</td>
						      <td>{{i.Contact_No}}</td>
						      <td>{{i.Address}}</td>
						      <td>{{i.Child_Name}}</td>
						      <td>{{i.Child_Age}}</td>
						      <td>{{i.Child_Gender}}</td>
						    </tr>
						  {% endfor %}

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'AdminPanel/assets/table/js/jquery.min.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/popper.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'AdminPanel/assets/table/js/main.js' %}"></script>

	</body>
{% endblock %}
</html>

